body {
    font-family: sans-serif;
    background-color: #eee;
    padding: 20px;
}

.container {
    width: 500px;
    margin: 0 auto; 
    background: white; 
    padding: 20px;
    border: 1px solid black;
}

h1 {
    text-align: center;
}

label {
    display: block; 
    margin-top: 10px;
}

textarea, input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: lightgray;
    border: 1px solid gray;
}

button:hover {
    background-color: gray;
    color: white;
}

.output-box {
    border: 1px solid black;
    padding: 10px;
    background-color: #fff;
    min-height: 20px;
    margin-top: 5px;
}